@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #1a1e29;
  --dark-color: #30344c;
  --bg-fade-color: #191e29f6;
  --title-color: rgb(203, 206, 211);
  --text-color: #e9efec;
  --primary-color: rgb(21, 163, 98);
  --primary-color-light: #27b475;
  --primary-color-extra-light: #aaf7d43b;
  --secondary-color: rgb(181, 40, 48);
  --secondary-color-light: rgba(181, 40, 47, 0.337);

  --color-1: 181, 40, 48;
  --color-2: 21, 163, 98;
  --circle-size: 70%;
  --blending: hard-light;

  --transition: all .3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
  overflow-y: hidden;
  background: var(--bg-color) !important;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 0;
  background: var(--bg-fade-color);
}

::-webkit-scrollbar-track {
  background: none !important;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

#services {
  background: var(--bg-fade-color) !important;
}